<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<style>
    li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isChecked">
    <ul>
      <li v-for="info in isActiveExhibition" :key="info.id" :class="{'cheap' : info.isCheap, 'expensive' : info.isExpensive }">
        <template v-if="info.isActive">
            <label for="isSelected">전시 관람 하기</label>
            <input type="checkbox" id="isSelected" v-model="isSelected" :key="info.id">
        </template>
        <template v-else>
            <p style="color : red;">전시가 종료되어 관람 할 수 없습니다.</p>
        </template>
        <h3>{{ info.title }}</h3>
        <hr>
        <p>{{ info.pos }}</p>
        <p>가격 : {{ info.price }}</p>
        <p v-if="info.price == 0">무료 전시입니다.</p>
        <hr>
      </li>
    </ul>
  </div>

  <script>
    const { createApp, ref, computed } = Vue

    const app = createApp({
      setup() {
        const isCheap = ref(false)
        const isExpensive = ref(false)
        const isSelected = ref(false)
        let id = 0
        const isChecked = ref(false)
        const infos = ref([{
            title : "무라카미 다카시 : 무라카시좀비",
            pos : "부산 시립 미술관",
            price : 1000,
            isActive : true,
            id : id++
        },
        {
            title : "마우라치오 카텔란 개인전",
            pos : "리움 미술관",
            price : 30000,
            isActive : true,
            id : id++
        },
        {
            title : "조선백자전",
            pos : "리움 미술관",
            price : 30000,
            isActive : true,
            id : id++
        },
        {
            title : "한국 실험미술 1960 - 1970",
            pos : "국립현대미술관",
            price : 0,
            isActive : true,
            id : id++
        },
        {
            title : "에드워드 호퍼 : 길 위에서",
            pos : "서울 시립 미술관",
            price : 1000,
            isActive : false,
            id : id++
        },
        {
            title : "알렉산더 칼더 x 이우환",
            pos : "국제갤러리 서울점",
            price : 15000,
            isActive : false,
            id : id++
        }
        ])
        infos.value = infos.value.map((element) => {
            return {
              ...element,
              isCheap: element.price <= 5000 ? true : false,
              isExpensive : element.price >= 20000 ? true : false,
            }
          })
        const isActiveExhibition = computed(() => {
            return isChecked.value ? infos.value.filter((info) => info.isActive) : infos.value
        })

        const controlSelectd = () => {
            return 
        }

        return {
        infos,
        isChecked,
        isActiveExhibition,
        isCheap,
        isExpensive,
        isSelected
        }
    }
    })

    app.mount("#app")
  </script>
</body>
</html>
